p {
    font-family: monospace;
    font-size: 1.3rem;
}

#grid {
    display: grid;
    grid-template-columns: 120px 5fr; 
}

#navBar {
    grid-column: 1/2;
}

#info {
    display: grid;
    grid-column: 2/7;
    grid-row: 1/2;
    grid-template-rows: 4fr 2fr;
    padding: 15px; 
}

#image {
    grid-row: 1/5;    
}

img {
    width: 60%;
}

#text {
    color: white;
    grid-row: 5/7;
}

#footer {
    grid-column: 1/7;
    grid-row: 2/3;
}

@media screen and (max-width: 890px) {
    /*Grid setup */ 
    #grid {
        grid-template-rows: 70px auto 70px;
    }

    #navbar {
        grid-column: 1/7;
        grid-row: 1/2;
    } 

    #info {
        grid-column: 1/7;
        grid-row: 2/3;
    }

    #footer {
        grid-column: 1/7;
        grid-row: 3/4;
    }
}


